body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background-image: url(safe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 70vh;
}

.text h1 {
    z-index: 1;
    text-align: center;
    color: white;
    font-family: "cookie";
    font-style: oblique;
    margin: auto;
    margin-top: 50px;
}

.masterpassword {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 278px;
    margin-left: 650px;
}

.masterpassword input {
    outline: none;
    background: blanchedalmond;
}

.text h2 {
    margin: auto;
    text-align: center;
    color: cyan;
}

input {
    height: 40px;
    width: 200px;
}

button {
    height: 40px;
    width: 200px;
}

button:hover {
    animation: clear 2.5s;
}

span:hover {
    color: teal;
    transition-duration: .1s;
    animation: rubberband 1.0s;
}

.text span {
    display: inline-block;
}

span.m-left {
    margin-left: -10px;
}

span.Name {
    color: grey;
}

span.Name:hover {
    color: teal;
    transition-duration: .1s;
    display: ruby-text;
}

@keyframes clear {
    20% {
        transform: scale(1.1);
    }
}

@keyframes rubberband {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.9);
    }
}