body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vh;
}

.text h1 {
    z-index: 1;
    position: absolute;
    color: #193441;
    opacity: 0.3;
    margin-top: 0px;
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 500px;
}

.animation-area {
    background-color: rgb(47, 43, 43);
    width: 100%;
    height: 100%;
}

.footer {
    position: relative;
    bottom: -43vh;
    left: 80vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
}

.footer span {
    margin-left: 44px;
    font-size: 80%;
}

.box-area {
    z-index: 1;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    width: 25px;
    height: 25px;
    list-style: none;
    background-color: #193441;
    animation: animate 200s linear infinite;
    bottom: 0px;
    opacity: .2;
    clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
    border-radius: 5%;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 50.2s;
    background-color: #193441;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    animation-delay: 0s;
    background-color: #193441;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 180px;
    height: 180px;
    animation-delay: 22s;
    background-color: #193441;
}

.box-area li:nth-child(4) {
    left: 50%;
    width: 100px;
    height: 100px;
    animation-delay: 19.2s;
    background-color: #193441;
}

.box-area li:nth-child(5) {
    left: 38%;
    width: 20px;
    height: 20px;
    animation-delay: 39.2s;
    background-color: #193441;
}

.box-area li:nth-child(6) {
    left: 90%;
    width: 40px;
    height: 40px;
    animation-delay: 6s;
    background-color: #193441;
}

.fa-user-lock {
    font-size: 300%;
    top: 15vh;
    left: 96vh;
    color: #fff;
    z-index: 1;
    position: fixed;
}

.masterpassword {
    position: fixed;
    margin: auto;
    margin-top: 10vh;
    margin-left: 42%;
    background-color: #193441;
    width: 230px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 2px 1px .7vh black;
    opacity: .8;
    padding: 1vh;
}

.masterpassword input {
    margin-right: 5px;
    margin-top: 95px;
    outline: none;
    height: 40px;
    width: 200px;
    background: none;
    border-color: black;
    border-radius: 2%;
    font-size: 120%;
    border-left: none;
    border-right: none;
    border-top: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: fixed;
}

i {
    display: fixed;
    margin-right: 4px;
    display: flex;
    color: #fff;
    
}

button {
    margin-left: 16px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 5vh;
}

button:active {
    animation: clear .5s;
}

h1 span:hover {
    color: teal;
    transition-duration: .1s;
    animation: rubberband 1.0s;
}

.text span {
    display: inline-block;
}

span.m-left {
    margin-left: -10px;
    color: #193441;
}

span.Name {
    color: grey;
}

span.Name:hover {
    color: teal;
    transition-duration: .1s;
    display: ruby-text;
}

::placeholder {
    color: #fff;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: #fff;
  }
  
  ::-ms-input-placeholder {
    color: #fff;
  }

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: .2;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: .2;
    }
}

@keyframes clear {
    20% {
        transform: scale(1.1);
    }
}

@keyframes rubberband {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.9);
    }
}